// Styling .quantity-wrapper, custom icons and quantity input field

.quantity-wrapper {
  display: flex;
  flex-direction: row;
  float: left;
  margin-right: 25px;
  background: white;
  border-radius: 5px;

  .qty-icon {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
  }

  .quantity {

    input {
      height: 55px;
      width: 50px !important;
      border: 0;
      border-radius: 5px;
      position: relative;
    }

    // Removing default browser arrows
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}
